<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./../static/css/dashboard.css') }}">

    <title>Dashboard</title>
</head>
<body>
        <nav>
            <section class="navAbove">
                <div><img src="{{ url_for('static', filename='./../static/img/foodiesGreen.png') }}" alt="foodiesIcon"></div>
                <div class="topnav">
                    <ul id="menu">
                        <li>
                            <a id= "menu" href=""><img src="{{ url_for('static', filename='./../static/img/menu-green.png') }}" alt="hamburgerIconMenu"></a>
                            <ul class="hidden">
                                <li><a href="/new/restaurant">new</a></li>
                                <li><a href="/search">search</a></li>
                                <li><a href="/account">account</a></li>
                                <li><a href="/logout">logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </nav>

        <main>    
        <section class="table">
            <table>
                <thead>
                    <tr>
                        <th class="titleTable">Today's recommendations for <span>{{user.first_name}}</span></th>
                    </tr>
                    <tr>
                        <th class="line1">Restaurant</th>
                        <th class="line1">Location</th>
                        <th class="line1">Sugested by</th>
                        <th class="line1">Likes</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in restaurant%}
                    <tr>
                        <td class="b3">
                            <a href="/show/{{ element.id }}">{{element.name}}</a>
                        </td>
                        <td class="b3">{{ element.location }}</td>
                        <td class="b3">{{ element.first_name }}</td>
                        <td class="b3">{{ element.likes }}</td>
                        <td id="outerline" class="b3"> 
                            <div> 
                                <a class="actions" href="">add</a>
                                <a class="actions" href="">discard</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="recomendations">
            <table>
                <thead>
                    <tr>
                        <th class="favtable"> <span>{{user.first_name}}'s</span> favorite restaurants</th>
                    </tr>
                    <tr>
                        <th class="line2">Restaurant</th>
                        <th class="line2">Location</th>
                        <th  id="outerline1" class="line1">Likes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in fav_restaurant %}
                    <tr>
                        <td class="b4">
                            <a href="/show/{{ element.id }}">{{element.name}}</a>
                        </td>
                        <td class="b4">{{ element.location }}</td>
                        <td id="outerline1" class="b3">{{ element.likes }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="footPage">
            <div>
                <img src="{{ url_for('static', filename='./../static/img/pattern-food.jpg') }}" alt="spieciesImage">
                <div class="circles"></div>
                <img src="{{ url_for('static', filename='./../static/img/table-nature-plant-raspberry-fruit-berry-1193304-pxhere.com.jpg') }}" alt="berriesImage">
            </div>
        </section>

    </main>
</body>
</html>